<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

 <section class="gracias">
 <h2>Muchas gracias, su registro se ha llevado a cabo con éxito<h2>
 <h3>En breves nos pondremos en contacto con usted.</h3>
 </section>

 <footer>
 Volver a la <a href="{{ path('clientes') }}">página</a> principal
 </footer>
 
    
</body>

</html>